/*
 *  Tool Box Elements for event flow
 */
#container{
    background-image: url("../Images/grid.png") ;
    background-repeat: repeat;
}
.receiver, .publisher, .execution-plan {
    border-radius: 0.5em;
    width: 120px;
    height: 72px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    background-color: transparent;
    background-size: 120px 72px;
    background-repeat: no-repeat;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.receiver, .receiver-drop{
    background-image: url("../Images/receiver.png") ;
}
.publisher, .publisher-drop {
    background-image: url("../Images/publisher.png") ;
}

.execution-plan, .execution-plan-drop {
    background-image: url("../Images/window1.png");
}

.receiver-drop, .publisher-drop, .execution-plan-drop {
    border-radius: 0.5em;
    opacity: 0.8;
    width: 120px;
    height: 72px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: transparent;
    background-size: 120px 72px;
    background-repeat: no-repeat;
    color: black;
    font-family: helvetica, sans-serif;
    /*padding: 0.5em;*/
    font-size: 0.9em;
}
.connectorInExecutionPlan, .connectorInPublisher{
    float: left;
    margin-top: -37%;
    margin-left: -8px;
}
.connectorOutExecutionPlan, .connectorOutReceiver{
    float: right;
    margin-top: -37%;
    margin-right: -8px;
}
.element-prop-icon{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:22px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}
.element-conn-icon{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:-3px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}
.element-close-icon{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:-30px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}
