<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Event Flow</title>
</head>
<body>

<section>

    <!--Toolbox for Elements-->
    <h1 class="toolbox-title">Toolbox</h1>
    <div style="float: left;" class="toolbox" id="toolbox">
        <table>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Stream</label>
                </td>
                <td>
                    <div class="stream" id="sID"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Receiver</label>
                </td>
                <td>
                    <div class="receiver" id="rID"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Publisher</label>
                </td>
                <td>
                    <div class="publisher" id="pID"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Execution Plan</label>
                </td>
                <td>
                    <div class="execution-plan" id="planID"></div>
                </td>
            </tr>
        </table>
    </div>

    <!--Container/Canvas-->
    <div id="container" class="container">
    </div>

    <div style="float: left" class="property" id="propertypane">
        <h1 class="toolbox-titlex" id="toolbox-titlex" name="toolbox-titlex">Properties</h1>
        <form class="panel" id="lot" name="lot">
        </form>
    </div>

    <!--Json Output and Manipulation Panel-->
    <div>
        <table style="margin-top: 780px" class="form-group">
            <tr>
                <td>
                    <label>Json Output:</label>
                </td>
                <td>
                    <textarea id="jsonOutput" style="width:825px;height:100px" class="form-control input-md"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>File name to save as:</label>
                </td>
                <td>
                    <input id="inputFileNameToSaveAs" class="form-control input-md"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="saveButton" class="myButton">Save</button>
                </td>
                <td>
                    <button id="exportButton" class="myButton">Export</button>
                </td>
                <td>
                    <button id="load-button" class="myButton" style="margin-left: -630px">Load</button>
                </td>
            </tr>
        </table>
    </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>

<script src="../js/lib/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="../js/lib/jquery-ui.min.js"></script>

<!--JSPlumb libraries-->
<script src="../js/lib/jquery.jsPlumb-1.6.4-min.js"></script>
<script src="../js/lib/jquery.blockUI.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!--Custom scipts-->
<script src="../js/Customscripts/editor.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="../css/canvas.css">
<link rel="stylesheet" type="text/css" href="../css/propertybox.css">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="../css/pe-icon-7-stroke.css" rel="stylesheet" />

</body>
</html>