<html>
<head>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script src="../Javascript/Helperscripts/jquery.min.js"></script>-->
    <script src="../Javascript/Helperscripts/underscore-min.js" type="text/javascript"></script>
    <script src="../Javascript/Helperscripts/backbone-min.js" type="text/javascript"></script>
    <script src="../Javascript/Helperscripts/backbone.localStorage-min.js" type="text/javascript"></script>
    <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <script src="../Javascript/Helperscripts/jquery-ui.min.js"></script>
    <script src="../Javascript/Helperscripts/jsoneditor.js"></script>
    <script src="../Javascript/Helperscripts/jquery.jsPlumb-1.6.4-min.js"></script>
    <!--<script src="../Javascript/Helperscripts/dagre.js"></script>-->
    <script src="../Javascript/Helperscripts/dagre.min.js"></script>

    <script src="../Javascript/Customscripts/main.js" type="text/javascript"></script>
    <script src="../Javascript/Customscripts/formBuilder.js" type="text/javascript"></script>
    <script src="../Javascript/Customscripts/storage.js" type="text/javascript"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="../CSS/layout.css">
    <link rel="stylesheet" type="text/css" href="../CSS/propertybox.css">
    <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>-->
    <!--<link href="../CSS/pe-icon-7-stroke.css" rel="stylesheet" />-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<section>
<!--Tool box for elements-->
<div class =" col-sm-2 toolPalatte" >
    <h1 class="toolbox-title">Toolbox</h1>
    <div class="toolbox" id="toolbox">
        <table>
            <tr>
                <td>
                    <label class="control-label">Stream</label>
                </td>
                <td>
                    <div class="stream" id="cId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Window</label>
                </td>
                <td>
                    <div class="wstream" id="wiId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Pass-through</label>
                </td>
                <td>
                    <div class="squery" id="lId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Filter Query</label>
                </td>
                <td>
                    <div class="filter" id="rId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Window Query</label>
                </td>
                <td>
                    <div class="wquery" id="wId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Join Query</label>
                </td>
                <td>
                    <div class="joquery" id="jId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">State Machine Query</label>
                </td>
                <td>
                    <div class="stquery" id="stId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Partition</label>
                </td>
                <td>
                    <div class="partition" id="pId"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

    <!--Container/Canvas-->
    <div class="col-sm-7 container" id="container" >
    </div>

    <!--<div class="property" id="propertypane">-->
            <!--<h1 class="toolbox-titlex" id="toolbox-titlex" name="toolbox-titlex">Properties</h1>-->
            <!--<form class="panel"  id="lot" name="lot">-->
            <!--</form>-->
    <!--</div>-->
    <div class="property col-sm-3 collapse" id="propertypane">

    </div>

    <!--Json Output and Manipulation Panel-->
    <div class = "col-sm-12">
        <table  class="form-group">
            <tr>
                <td>
                    <label>Json Output:</label>
                </td>
                <td>
                    <textarea id="jsonOutput" style="width:825px;height:100px" class="form-control input-md"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>File name to save as:</label>
                </td>
                <td>
                    <input id="inputFileNameToSaveAs" class="form-control input-md"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="saveButton" class="myButton">Save</button>
                </td>
                <td>
                    <button id="exportButton" class="myButton">Export</button>
                </td>
                <td>
                    <button id="loadButton" class="myButton" style="margin-left: -630px">Load</button>
                </td>
                <td>
                    <button id="auto-align" class="myButton" style="margin-left: -630px">Align</button>
                </td>
            </tr>
        </table>
    </div>

</section>
</body>

</html>
