<html>
<head>

    <script src="../js/lib/jquery-1.10.2.js"></script>
    <script src="../js/lib/underscore-min.js" type="text/javascript"></script>
    <script src="../js/lib/backbone-min.js" type="text/javascript"></script>
    <script src="../js/lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/lib/backbone.localStorage-min.js" type="text/javascript"></script>
    <script src="../js/lib/jquery-ui.min.js"></script>
    <script src="../js/lib/jsoneditor.js"></script>
    <script src="../js/lib/jsPlumb-2.2.6-min.js"></script>
    <script src="../js/lib/dagre.min.js"></script>

    <script src="../js/Customscripts/main.js" type="text/javascript"></script>
    <script src="../js/Customscripts/formBuilder.js" type="text/javascript"></script>
    <script src="../js/Customscripts/models.js" type="text/javascript"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/canvas.css">
    <link rel="stylesheet" type="text/css" href="../css/propertybox.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<section>
<!--Tool box for elements-->
<div class =" col-sm-2 toolPalatte" >
    <h1 class="toolbox-title">Toolbox</h1>
    <div class="toolbox" id="toolbox">
        <table>
            <tr>
                <td>
                    <label class="control-label">Stream</label>
                </td>
                <td>
                    <div class="stream" id="cId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Window</label>
                </td>
                <td>
                    <div class="wstream" id="wiId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Pass-through</label>
                </td>
                <td>
                    <div class="squery" id="lId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Filter Query</label>
                </td>
                <td>
                    <div class="filter" id="rId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Window Query</label>
                </td>
                <td>
                    <div class="wquery" id="wId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Join Query</label>
                </td>
                <td>
                    <div class="joquery" id="jId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">State Machine Query</label>
                </td>
                <td>
                    <div class="stquery" id="stId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Partition</label>
                </td>
                <td>
                    <div class="partition" id="pId"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

    <!--Container/Canvas-->
    <div class="container col-sm-7 " id="container" ></div>

    <!--Property pane-->
    <div class="property col-sm-3 collapse" id="propertypane"></div>

    <!--Button Panel-->
    <div class = "col-sm-12">
        <button id="auto-align" class="customButton">Align</button>
    </div>

</section>
</body>

</html>
